* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App {
  text-align: center;
  margin: top 10px;
}
.soma {
  display: flex;
  padding: 20px;
}
.app-number {
  background-color: #869eeb;
  color: black;
  border-radius: 10px;
  border-color: #445eb6;
  height: 50px;
  width: 120px;
  font: bold 24px arial, sans-serif;
  text-shadow: none;
  margin: 0 10px;
}
.app-button {
  background-color: #092069;
  color: white;
  border-radius: 15px 5px;
  height: 50px;
  width: 100px;
  font: bold 24px arial, sans-serif;
  text-shadow: none;
}

.aplicacao {
  background-color: #192e74;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
